body{
font-family:Arial;
margin:0;
background:#111;
color:white;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#000;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}
nav a:hover{
color: #00e5ff;
}

.hero{
padding:100px;
background:linear-gradient(45deg,#0f2027,#203a43,#2c5364);
 background-image: url("https://media.istockphoto.com/id/1833291471/photo/row-of-sports-equipment-in-fitness-gym-concept.jpg?s=612x612&w=0&k=20&c=96xpa8ztjeU-TIHoJJ4QAdp9j1JqolovE8zP8rNXePM=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button{
padding:12px 25px;
background:#00e5ff;
border:none;
font-size:16px;
}
button:hover{
background:#00bcd4;
color: white;
}

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.card1, .card2, .card3{
background:#222;
padding:20px;
border-radius:10px;
width:250px;
}
.card1{
    background-image: url("https://media.istockphoto.com/id/912113272/photo/dumbbells-on-stand-in-gym.jpg?s=612x612&w=0&k=20&c=B1VeGCuQLr-x0bw1qIN-ZijXtNSjS-OIaEkYLN_8ApA=");
    background-size: cover;
    background-repeat: no-repeat;
}
.card2{
    background-image: url("https://media.istockphoto.com/id/824106036/photo/treadmills-in-row-at-empty-gym.jpg?s=612x612&w=0&k=20&c=5cTsy_Tf1xq_2S8sAsuoq2Iznw9qJFy3ImBIh4CM6jE=");
    background-size: cover;
    background-repeat: no-repeat;
}
.card3{
    background-image: url("https://t3.ftcdn.net/jpg/02/54/63/18/360_F_254631877_WUFBiOZQEz9bJcwvdOy2BZfkO1WBkVf6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card1:hover, .card2:hover, .card3:hover{
background:#333;
transform: translateY(-5px);
transition:0.3s;
scale: 1.2;
}
.todo-section {
      background-color: #f0f0f0;
      padding: 30px 20px;
      margin: 40px 0;
      border-radius: 8px;
    }
.todo-section h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }